ion-button {
    width: 60%;
    height: 55px;
  }
  i {
    margin-right: 15px;
    transition: 0.5s all ease !important;
  }
  .greenBtn{
    --background: #1A9581 !important;
    --border-color: #1A9581 !important;
    color: white;
  }
  .whiteBtn{
    --background: #1A9581 !important;
    --border-color: #1A9581 !important;
    color: white;
  }