<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="header" size="12">
        <ion-icon (click)="goBack()" name="arrow-back-outline"></ion-icon>
        <h3>KAYIT OL</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="mt-15 input-col" size="12">
        <label>Adınız Soyadınız</label>
        <ion-input type="text" placeholder="Adınız Soyadınız"></ion-input>
      </ion-col>
      <ion-col class="input-col" size="12">
        <label>T.C. Kimlik Numaranız</label>
        <ion-input type="text" placeholder="T.C. Kimlik Numaranız"></ion-input>
      </ion-col>
      <ion-col class="input-col" size="12">
        <label>Telefon Numaranız</label>
        <ion-input type="tel" placeholder="Telefon Numaranız"></ion-input>
      </ion-col>
      
      <ion-col class="input-col" size="12">
        <label>Şifrenizi Belirleyiniz</label>
        <ion-input type="password" placeholder="Şifreniz"></ion-input>
      </ion-col>
      <ion-col class="button-col" size="12">
        <ion-button class="mt-3 login-btn">KAYIT OL</ion-button>
        <p class="under-btn-text">“KAYIT OL” butonuna basarak şartlarımızı ve koşullarımızı kabul etmiş olursunuz.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
